In [4]:
# Import packages
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [12]:
citrus = pd.read_csv("grapefruitororange.csv")

citrus.head()

     name  diameter  weight  red  green  blue
0  orange      2.96   86.76  172     85     2
1  orange      3.91   88.05  166     78     3
2  orange      4.42   95.17  156     81     2
3  orange      4.47   95.60  163     81     4
4  orange      4.48   95.76  161     72     9

In [13]:
citrus.shape

(10000, 6)

In [14]:
citrus.describe()

           diameter        weight           red         green          blue
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean       9.975685    175.050792    153.847800     76.010600     11.363200
std        1.947844     29.212119     10.432954     11.708433      9.061275
min        2.960000     86.760000    115.000000     31.000000      2.000000
25%        8.460000    152.220000    147.000000     68.000000      2.000000
50%        9.980000    174.985000    154.000000     76.000000     10.000000
75%       11.480000    197.722500    161.000000     84.000000     17.000000
max       16.450000    261.510000    192.000000    116.000000     56.000000

In [20]:
citrus["name"].value_counts()

name
orange        5000
grapefruit    5000
Name: count, dtype: int64

In [23]:
citrus.groupby("name").mean()

             diameter      weight       red    green     blue
name
grapefruit  11.476946  197.296664  150.8628  70.0330  15.6112
orange       8.474424  152.804920  156.8328  81.9882   7.1152

In [32]:
# Start splitting data accordingly
X = citrus.drop(columns="name", axis=1)
Y = citrus["name"]

In [35]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, stratify=Y, random_state=1)
print(X.shape, X_train.shape, X_test.shape)

(10000, 5) (9000, 5) (1000, 5)

In [37]:
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

In [40]:
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print("Accuracy on testing data:", testing_data_accuracy)

Accuracy on testing data: 0.95

In [43]:
# Create predictive system

input_data = (2.96,86.76,172,85,2)
input_data_as_numpy_array = np.asarray(input_data)

# Reshape the numpy array; we are predicting one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if prediction == "orange":
    print("It is an orange")
else:
    print("It is a grapefruit")

['orange']
It is an orange

C:\Users\super\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(